
<table class="bordered  centered">
       <thead>
         <tr>
             <th data-field="n"></th>
             <th data-field="Понедельник">Понедельник</th>
             <th data-field="Вторник">Вторник</th>
             <th data-field="Среда">Среда</th>
             <th data-field="Четверг">Четверг</th>
             <th data-field="Пятница">Пятница</th>
             <th data-field="Суббота">Суббота</th>
         </tr>
       </thead>
       <!---<td>Предмет<br>Преподаватель<br>Кабинет<br>Группа</td>--->
       <tbody>
         <% (0...7).each do |i| %>
           <tr>
             <% (0...7).each do |j| %>
                <% if j == 0 %>
                  <td><%=i + j + 1 %></td>
                <% else %>
                <% finded_schedule = @schedules.find_all{|schedule| schedule.day == j} %>
                <% finded_schedule = finded_schedule.find_all{|schedule| schedule.period == i+1} %>
                <% if finded_schedule != [] %>
                <td>
                  <% element = finded_schedule[0] %>
                  <%= Subject.find(element.subject_id).name %><br>
                  <%= Group.find(element.group_id).name %><br>
                  <%= Teacher.find(element.teacher_id).name %><br>
                  <%= Audience.find(element.audience_id).name %>
                  <%= link_to 'Удалить', [element.table, element], method: :delete, data: { comfirm: 'Вы уверены?' }%>
                </td>
                    <% else %>
                    <td>
                      <div class="modal-timetable">
                        <label title="Добавить пару" class="waves-effect waves-light btn-large" for="modal-<%= @count %>">Добавить</label>
                          <input class="modal-timetable-open" id="modal-<%= @count %>" type="checkbox" hidden>
                          <div class="modal-timetable-wrap" aria-hidden="true" role="dialog">
                            <label class="modal-timetable-overlay" for="modal-<%= @count %>"></label>
                            <div class="modal-timetable-dialog">
                              <div class="modal-timetable-header">
                                <h2>Добавить пару</h2>
                                <label class="btn-timetable-close" for="modal-<%= @count %>" aria-hidden="true">×</label>
                              </div>
                              <div class="modal-timetable-body input-field">
                                <%= form_for([@table, @table.schedules.build]) do |f| %>
                                  <p>
                                    <%= f.hidden_field :group_id, value: @group %>
                                  </p>
                                  <p>
                                    <%= f.collection_select(:subject_id, @subjects, :id, :name, {}, {:class=>'btn waves-effect waves-light'}) %>
                                  </p>
                                  <br>
                                  <p>
                                    <%= f.collection_select(:audience_id, @audiences, :id, :name, {}, {:class=>'btn waves-effect waves-light'}) %>
                                  </p>
                                  <br>
                                  <p>
                                    <%= f.collection_select(:teacher_id, @teachers, :id, :name, {}, {:class=>'btn waves-effect waves-light'}) %>
                                  </p>
                                  <p>
                                    <%= f.hidden_field :day, value: j, readonly: true %>
                                  </p>
                                  <p>
                                    <%= f.hidden_field :period, value: i+1, readonly: true %>
                                  </p>
                                  <br>
                                  <p>
                                    <%= f.submit "Добавить", {:class=>'btn waves-effect waves-light'} %>
                                  </p>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                    <% end %>
                <% end %>
                <% @count += 1 %>
             <% end %>
           </tr>
         <% end %>
       </tbody>

     </table>
